<mat-card *ngIf="locataire" class="card">
    <mat-card-title> {{locataire.name}}</mat-card-title>
    <mat-card-content>{{locataire.phone}}</mat-card-content>
    <mat-card-content>{{locataire.dateEntree}}</mat-card-content>
    <mat-card-content>{{locataire.dateSortie}}</mat-card-content>
    <mat-card *ngFor=" let loyer of locataire.loyerList" class="card">
        <mat-card-title> {{loyer.date}}</mat-card-title>
        <mat-card-content>{{loyer.description}}</mat-card-content>
        <mat-card-content>{{loyer.montant}}</mat-card-content>
    </mat-card>
</mat-card>
